.kamaleon{
    position: absolute;
    right: 0;
    height: 150px;
    width: 105px;
}
.footerTopBox{
    background-color: #2A2E66;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footerBotBox{
    background-color: #1d2331;
    padding: 25px 40px;
    display: flex;
    justify-content: space-around;
}

.topIcons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.boxUser{
    display: flex;
    gap: 10px;
    align-items: center;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
}

.contactContainer>h4::after{
    content: "";
    display: block;
    width: 50%;
    border-bottom: 1px solid white;
    margin-top: 8px;
}

.contactRow{
    display: flex;
    gap: 10px;
}

.contactRow{
    text-decoration: none;
   color: white;
}

.contactRow>a{
    text-decoration: none;
    color: white;
}



@media only screen and (max-width: 600px) {
    .kamaleon{
        display: none;
    }
    .footerContainer{
        font-size: 10px;
    }

    .footerTopBox{
        flex-direction: column;
        gap: 15px;
    }

    .footerBotBox{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }


    
}

