.screenContainer{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* .team{
    margin-right: 100px;
   
} */
/* .card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .1s;
    transform-style: preserve-3d;
    background-color:transparent;
    color: rgb(255, 250, 250);
    border-radius: 25px;
} */
/* .card-container{
    position: relative;
    width:180px;
    height: 280px;
    perspective: 900px;
    background-color: transparent;
    border-radius: 25px; 
} */
/* .card-container:hover .card{
    transform: rotateY(-180deg);
} */
/* .back{
    transform: rotateY(-180deg);
    text-align: center;
    background-color:transparent;
} */
/* .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    box-shadow: .5rem .5rem 1rem rgb(201, 117, 117),
    -.5rem -.5rem 1rem rgb(149, 192, 69);
    border:2px solid #eee;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
} */
/* .front, .back:active{
    box-shadow: inset .2rem .2rem 1rem #ccc,
    -.2rem -.2rem 1rem #fff;
}
.front, .back:hover{
    box-shadow: .5rem .5rem 1rem #fff,
    -.5rem -.5rem 1rem #ccc;
} */
/* .products-txt{
    color: rgba(9,121,118,1);
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
}
.image-card{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    width: 100px;
    height: 100px;
}
.dropdown{
    margin-bottom: 20px;
    width: 150px;
} */

