.main-content{
    margin: 50px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.card-gallery-skeleton{
    display: flex;
    flex-direction: row;
}
.players-gallery{
    padding-top: 50px;
    display:grid;
    gap: 1rem;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
}  

.player-card{
    margin: 10px 20px;
    height: auto;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}
.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .8s ease;
    transform-style: preserve-3d;
    background-color:transparent;
    color: rgb(255, 250, 250);
    border-radius: 25px;
}
.card-container{
    position: relative;
    width:180px;
    height: 280px;
    perspective: 900px;
    background-color: transparent;
    border-radius: 25px; 
}
.image-card{
    width: 150px;
    height: 100px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
}
.card-container:hover .card{
    transform: rotateY(-180deg);

    top:30px;
    right: 25px;
    width: 90%;
    height: 90%;
}

.card-container{
    margin: 0px 15px;
}

.back{
    transform: rotateY(-180deg);
    text-align: center;
    opacity: 85%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
}
.front, .back{
    margin: 0px 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-box-shadow: 10px 11px 17px -6px rgba(134,239,172,1);
    -moz-box-shadow: 10px 11px 17px -6px rgba(134,239,172,1);
    box-shadow: 10px 11px 17px -6px rgba(134,239,172,1);
    border:2px solid #eee;
    transition: 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.products-txt{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
}


.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}
    
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
@media only screen and (max-width: 600px) {
    .img-fix{
        width: auto;
        height: auto;
    }   
}
